name: CI

on:
  push:
  pull_request:

env: 
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v4
      # Install Rust toolchain
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      # Install cargo-nextest
      - name: Install cargo nextest
        uses: taiki-e/install-action@cargo-nextest
      # Run Clippy
      - name: Run Clippy
        run: cargo clippy --all-targets -- -D warnings
      # Check code formatting
      - name: Check formatting
        run: cargo fmt --all --check
      # Run tests with cargo-nextest
      - name: Run Tests
        run: cargo nextest run
